.contenedorrecordatorio {
  background-color: var(--color-two);
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  color: white;
  font-family: "Outfit", sans-serif;
}

.titulo {
  text-align: center;
}

.label-password {
  font-size: 16px;
  font-weight: bold;
}

.recordar-password {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputbox2 {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent; /* Cambiado a transparent */
  color: white;
  font-family: "Outfit", sans-serif;
  outline: none;
}