.select {
  padding: 10px;
  margin-right: 10px;
  width: 200px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  font-family: "Outfit", sans-serif;
}

.option {
  background-color: var(--color-two);
  color: white;
  font-family: "Outfit", sans-serif;
}
