.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background-color: var(--color-two);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.container img {
  width: auto;
  max-height: 65px;
}

.container1 {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.imagen {
  width: 100%;
  display: flex;
  justify-content: center;
}

.imagen img {
  max-width: 100%;
  max-height: calc(100vh - 250px);
  object-fit: contain;
}


.container2 {
  display: flex;
  flex-direction: row;
  
}

.container3 {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.container3 button {
  margin-bottom: 21px;
  width: 250px; 
}

.btn {
  font-family: "Outfit", sans-serif;
  background-color: var(--color-four); 
  padding: 5px 15px; 
  border: none; 
  border-radius: 5px; 
  font-size: 20px; 
  font-variant: small-caps;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  height: 40px;
}

.btn:hover {
  background-color: darken(var(--color-four), 10%); 
}

btn:focus,
btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn2 {
  font-family: "Outfit", sans-serif;
  background-color: var(--color-one); 
  padding: 5px 15px; 
  border: none; 
  border-radius: 5px; 
  font-size: 20px; 
  font-variant: small-caps;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  height: 40px;
}

.btn2:hover {
  background-color: darken(var(--color-four), 10%); 
}

btn2:focus,
btn2:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn3 {
  font-family: "Outfit", sans-serif;
  background-color: var(--color-two); 
  padding: 5px 15px; 
  border: none; 
  border-radius: 5px; 
  font-size: 20px; 
  font-variant: small-caps;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  height: 38px;
}

.btn3:hover {
  background-color: darken(var(--color-four), 10%); 
}

btn3:focus,
btn3:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}