.containerCita {
    background-color: var(--color-two);
    opacity: 0.9;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    width: 100%;
    color: white;
    font-family: "Outfit", sans-serif;
  }
  
  .tituloCita {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .formularioCita {
    width: 100%;
  }
  
  .input-row {
    margin-bottom: 20px; 
  }
  
  .label {
    display: block; 
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .input,
  .textarea {
    width: 400px; 
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-family: "Outfit", sans-serif;
    outline: none;
  }

  .select{
    width: 420px; 
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-family: "Outfit", sans-serif;
    outline: none;
  }
  
  .botones {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  