/* .contenedorAbogados {
   
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    

}

@media (max-width: 768px) {
    .contenedorAbogados {
      grid-template-columns: 1fr;
    }
  } */