.container {
    background-color: transparent;
    opacity: 0.9;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    width: 100%;
    margin: 0 auto;
    color: white;
    font-family: "Outfit", sans-serif;
}

.container2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.select {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-family: "Outfit", sans-serif;
}

.option {
    background-color: var(--color-two);
    color: white;
    font-family: "Outfit", sans-serif;
}
